# **Lists**
#Most versatile data structure type in python, items in a list can be heterogeneous types, they are mutable

In [ ]:
#Making a list
l1 = [1,3,4,5]
l2 = [2,4,5,6]

In [ ]:
#Concatenation
l3=l1+l2
print(l3)

[1, 3, 4, 5, 2, 4, 5, 6]

In [ ]:
#Copying the list
l4=l1
print(l4)

[1, 3, 4, 5]

In [ ]:
#Append function - add a new value to the list
l1.append(13)
print(l1)

[1, 3, 4, 5, 13]

In [ ]:
#extend a list
l2.extend(l1)
print(l2)

[2, 4, 5, 6, 1, 3, 4, 5, 13]

In [ ]:
#Removing an element
l2.remove(5)
print(l2)

[2, 4, 6, 1, 3, 4, 5, 13]

In [ ]:
#Removing an element from the end and returning it
l2.pop()
print(l2)

[2, 4, 6, 1, 3, 4, 5]

In [ ]:
#Sorting a list
l2.sort()
print(l2)

[1, 2, 3, 4, 4, 5, 6]

In [ ]:
l2.pop(1)

2

In [ ]:
#Finding out index of an element
l2.index(6)

5

In [ ]:
#Finding how many times an element appears in the list
l2.count(2)

0

In [ ]:
#Function to remove all occurences of an element from a list
l5=[1,1,1,2,2]
l5=list(filter((1).__ne__, l5))
print(l5)

[2, 2]

# **Dictionaries**
#Unordered set of key and values, they are mutable, values of keys are unique

In [ ]:
#Dictionary
dc1={}
dc1["Sam"]=90
dc1["Ram"]=80
dc1["Lam"]=70
print(dc1)

{'Sam': 90, 'Ram': 80, 'Lam': 70}

In [ ]:
#Nested dictionaries
dc2={"test2":{"Sam":90, "Reena":80}, "test3":{"Sam":62}}
print(dc2)

{'test2': {'Sam': 90, 'Reena': 80}, 'test3': {'Sam': 62}}

In [ ]:
#Creating dictionaries from arbitrary key and value expressions
dc3={x:x*3 for x in (3,4,9)}
print(dc3)

{3: 9, 4: 12, 9: 27}

In [ ]:
d4=dict([('x',62),('y',42)])
print(d4)

{'x': 62, 'y': 42}

# **Tuples**
#sequence data type, they are immutable, can contain heterogeneous elements

In [ ]:
#Tuples
data=(189, 20, 9090)
data[1]

20

In [ ]:
#simultaneous assignment in tuples
(name, rollno, dept, x)= ("Akanksha", 8, "Computational biology", [1,2,3])
print(name)
print(dept, x)

Akanksha
Computational biology [1, 2, 3]

In [ ]:
#We can assign a value to a name
x=(0.2,0.9)
y=("a","b")
print(x,y)

(0.2, 0.9) ('a', 'b')

In [ ]:
#nested tuples
z=x,y,(1,2,3)
print(z)

((0.2, 0.9), ('a', 'b'), (1, 2, 3))

In [ ]:
print(z[1])
len(z)

('a', 'b')

3

In [ ]:
#Extracting position in tuples using slices
new=z[1:]
print(new)

(('a', 'b'), (1, 2, 3))

# **Sets**
#Unordered collection with no duplicate elements, cannot be sliced or indexed, mathematical operations can be performed - union, intersection, etc.

In [ ]:
#sets
color ={"yellow", "white", "pink"}
print(color)

{'yellow', 'pink', 'white'}

In [ ]:
#converting list to set
set(list1)

{2, 3, 4, 5, 6, 55, 89}

In [ ]:
garment = {"jeans", "sweater"}
#union
color|garment

{'jeans', 'pink', 'sweater', 'white', 'yellow'}

In [ ]:
set1={1,2,3,4,5}
set2={2,4,6,8,10}
#intersection
set1&set2

{2, 4}

In [ ]:
#complement or difference
set1-set2

{1, 3, 5}

In [ ]:
#Exclusive or
set1^set2

{1, 3, 5, 6, 8, 10}

# **Strings**
#A string is a sequence of one or more characters (letters, numbers, symbols) that can be either a constant or a variable. They are enclosed in single or double quotes

In [ ]:
#strings
s="Python\nA programming language"
print(s)
#make another string consisting on 2 strings
t=s+"\nYou are studying Python"
print(t)

Python
A programming language
Python
A programming language
You are studying Python

In [ ]:
#strings - escaping the ' character
"purva's"
'devashish\'s'

"devashish's"

In [ ]:
#range slice
t[2:4]

'th'

In [ ]:
#check in or not
'f' in s

False

In [ ]:
#Find letter on index 2 in the string
s[2]

't'

# **Questions for practice**

In [ ]:
#Question 1 - Make a list and insert 55 on the 4th position.
list1= [1,2,3,4,5,6]
list1.insert(3,55)
print(list1)

[1, 2, 3, 55, 4, 5, 6]

In [ ]:
#Question 2 - Try to change a value in a list and repeat the same for tuple and report the error.
#List is mutable , change a value
list1[0] = 89
print(list1)

#Tuple is immutable
tuple1=(1,2,3,4,5)
#tuple1[0] = 89 --- this will give an error

[89, 2, 3, 55, 4, 5, 6]

In [ ]:
#Question 3 - Create a dictionary using (2,4,6,8) as keys and their cubes as the values.
dc3={x:x**3 for x in (2,4,6,8)}
print(dc3)

{2: 8, 4: 64, 6: 216, 8: 512}

In [ ]:
#Question 4 - Replace the letter “a” with “b” in the string “abracadabra”.
s="abracadabra"
v=s.replace("a","b")
print(s)
print(v)

abracadabra
bbrbcbdbbrb

In [ ]:
#Question 5 - Convert a tuple to a dictionary.
# - Do it on your own

In [ ]:
#Question 6 - Remove duplicates from the list l = [2,2,3,4,4,4,1,1,5].
# - Do it on your own

In [ ]:
#Question 7 - Create a list l1=[100,150,200,250,300]. Create another list of tuples l2 where each tuple has elements of list l1 and index number of those elements. Write and explain the code. Eg – [(100,0), (150,1)…]
# - Do it on your own